@charset "utf-8";

/*static, realative absolut fixed*/
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer {
    position: fixed;
    width: 100%;
    /*top, bottom, left right*/
    bottom: 1px;
    left:0px;
}
#kerdojel{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
nav{
    /*    position: absolute;*/
    top:110px;
    left: 20px;
}
main{
    position: absolute;
    padding-top: 100px;
}
#szamol{
    position: relative;
    top:5px;
    right: -200px;
}
/*form{
    position: relative;
}*/
#zar{
    /*    position: absolute;*/
    position: relative;    
    top:5px;
    right: -200px;
}
